body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}
img {
    max-width: 100%;
}
/** how the element sizes are calculated by browsers **/
*{
    box-sizing: border-box;
}
a {
    color: $mainOrange;
}